h1{
    font-size: 80px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 4rem 0;
}

p{
    font-size: 35px;
    margin:  35px 0;
}
.newQuoteBtn{
    background-color: blue;
    height: 80px;
    width: 250px;
}   

.newQuoteBtn:hover{
    background-color: green;   
}